.about {
  padding-bottom: 50px;

  background-color: #f1f1f1;

  @media screen and (min-width: 1344px) {
    padding-bottom: 130px;
  }
}

.about__thumb {
  @media screen and (min-width: 768px) {
    display: flex;
    // align-items: center;
    // justify-content: center;
  }
}

.about__left-column {
  @media screen and (min-width: 768px) {
    margin-right: 40px;
  }
}

.about__left-column img {
  width: 243px;
  height: 305px;

  @media screen and (min-width: 1344px) {
    width: 530px;
    height: 667px;
  }
}

.about__right-column {
  max-width: 280px;

  @media screen and (min-width: 768px) {
    max-width: 402px;
  }

  @media screen and (min-width: 1344px) {
    max-width: 642px;
  }
}

.about__title {
  margin-bottom: 20px;

  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  font-family: Montserrat;
  color: var(--dark-color);

  @media screen and (min-width: 1344px) {
    font-size: 46px;
    margin-bottom: 50px;
  }
}

// .about img {
//   width: 243px;
// }

.about__name {
  margin-top: 20px;

  padding-bottom: 10px;

  font-family: Montserrat;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.08em;
  border-bottom: 1px solid #b9b9b9;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }

  @media screen and (min-width: 1344px) {
    padding-bottom: 15px;

    font-size: 30px;
  }
}

.about__skills {
  //   position: relative;
  width: 100%;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.06em;

  color: var(--dark-color);

  @media screen and (min-width: 1344px) {
    font-size: 16px;
    line-height: 1.19;
  }
}

// .about__skill1::before {
//   content: '';
// }

.about__list {
  margin-top: 20px;
}

.about__item {
  display: flex;
}

.about__icon {
  margin-right: 9px;
  height: 14px;
  width: 17px;
}

.about__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;

  color: var(--grey-color);
}

.about__certificate {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-decoration-line: underline;

  color: var(--accent-color);
}
