.advantages{
    background: #E5E5E5;
    padding-top: 30px;
    padding-bottom: 49px;
}

.advantages__list{
    
} 

.advantages__item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.advantages__icon{
    
    
}

.advantages__text{
    margin-left: 10px;
    width: 146px;
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.42;
letter-spacing: 0.08em;

color: #111518;
}

