.benefits {
  text-align: left;
  padding-left: 30px;
  width: 280px;
  z-index: 2;
  box-shadow: -5px 8px 26px rgb(0 0 0 / 4%);
  background: linear-gradient(180deg, var(--dark-color) 18%, var(--white-color) 10%);

  @media screen and (min-width: 768px) {
    background: linear-gradient(180deg, var(--dark-color) 35%, var(--white-color) 20%);
    width: 688px;
    padding-top: 129px;
  }
  @media screen and (min-width: 1344px) {
    width: 1314px;
    background: var(--white-color);
    padding-top: 70px;
    position: relative;
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    color: var(--white-color);
    font-weight: 800;
    font-size: 20px;
    line-height: 1.36;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
    padding-top: 50px;

    @media screen and (max-width: 767px) {
      width: 180px;
    }

    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 1.3;
      padding-bottom: 60px;
      text-align: center;
    }

    @media screen and (min-width: 1344px) {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }
}

.benefits-grid {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -20px;
  }

  @media screen and (min-width: 1344px) {
    // width: 1344px;
    padding: 0;
    margin: -30px;
  }

  &__task {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    align-items: center;
    letter-spacing: 0.08em;
    color: var(--dark-color);

    @media screen and (min-width: 1344px) {
      font-size: 20px;
      line-height: 1.4;
    }
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.649;
    align-items: center;
    letter-spacing: 0.08em;
    color: var(--accent-color);
    padding-bottom: 10px;
    display: flex;

    text-align: center;

    @media screen and (min-width: 1344px) {
      font-size: 20px;
      line-height: 1.649;
    }

    &::before {
      content: '';
      display: block;
      position: relative;
      width: 12px;
      height: 1px;
      margin-right: 5px;
      background-color: var(--accent-color);
    }
  }

  &__item {
    @media screen and (max-width: 767px) {
      padding-bottom: 20px;
    }

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 80px) / 2);
      margin: 20px;

      &:nth-child(5),
      &:nth-child(6) {
        padding-bottom: 25px;
      }
      // &:nth-child(2n-1) {
      //   padding-left: 98px;
      // }
      // &:nth-child(2n) {
      //   padding-right: 110px;
      // }
    }

    @media screen and (min-width: 1344px) {
      flex-basis: calc((100% - 180px) / 3);
      margin: 30px;

      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        padding-bottom: 70px;
      }

      &:nth-child(1),
      &:nth-child(4) {
        padding-left: 84px;
      }

      &:nth-child(3),
      &:nth-child(6) {
        padding-right: 82px;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1344px) {
    &:nth-child(5),
    &:nth-child(6) {
      padding-bottom: 20px;
    }
  }
}

.program-grid__group1,
.program-grid__group2 {
  @media screen and (min-width: 768px) and (max-width: 1344px) {
    margin-right: 50px;
    min-width: 176px;
  }
}

.benefits-grid__container {
  @media screen and (min-width: 768px) and (max-width: 1343px) {
    padding-left: 98px;
    padding-right: 98px;
  }
}
