.hero {
  /* height: 557px; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 109.5px;
  padding-bottom: 254.5px;
  background-image: url(../images/hero/hero.png), url(../images/hero/Vector_tablet.png);
  background-repeat: no-repeat;
  background-size: 208px, 768px 557px;
  background-position: center bottom 47px, left -64px top 0;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/hero/hero@2x.png'), url(../images/hero/Vector_tablet@2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url('../images/hero/hero_tablet.png'), url(../images/hero/Vector_tablet.png);
    background-size: 376px, 768px 557px;
    background-position: right 18px bottom 64px, left top;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/hero/hero_tablet@2x.png'), url(../images/hero/Vector_tablet@2x.png);
    }
  }

  @media screen and (min-width: 1344px) {
    background-image: url('../images/hero/hero_desktop.png'), url(../images/hero/Vector_desktop.png);
    background-size: 842px 718px, 1680px;
    background-position: right 54px bottom 10px, left top;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/hero/hero_desktop@2x.png'), url("../images/hero/Vector_desktop@2x.png");
    }
  }
}
