ul,
li,
p {
  list-style: none;
  margin: 0;
}
.program {
  background-color: #111518;
  @media (max-width: 768px) {
    & {
      padding-top: 50px;
      padding-bottom: 537px;
    }
  }

  @media (min-width: 768px) {
    & {
      padding-top: 60px;
      padding-bottom: 392px;
    }
  }
  @media (min-width: 1344px) {
    & {
      padding-top: 120px;
      padding-bottom: 363px;
    }
  }
}

.program--title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white-color);

  @media (min-width: 1344px) {
    & {
      font-size: 46px;
      line-height: 1.3;
      padding-bottom: 100px;
    }
  }
}

.program--grid {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--white-color);

  @media (max-width: 768px) {
    & {
      padding-left: 26px;
    }
    &:not(:first-child) {
      padding-top: 40px;
    }
  }

  @media (min-width: 768px) {
    & {
      // display: flex;
      padding-left: 56px;
    }
    &:not(:first-child) {
      padding-top: 30px;
    }
  }

  @media (min-width: 1344px) {
    & {
      padding-left: 30px;
      padding-top: 30px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--accent-color);
    z-index: 2;

    @media (max-width: 768px) {
      transform: translate(-31px);
      margin-top: 7px;
    }

    @media (min-width: 768px) {
      transform: translate(-62px);
      margin-top: 7px;
    }
    @media (min-width: 1344px) {
      transform: translatey(-43px);
    }
  }

  &__flex {
    @media (min-width: 768px) {
      display: flex;
    }

    @media (min-width: 1344px) {
      flex-direction: column;
    }
  }
}

.program--grid__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.649;
  align-items: center;
  letter-spacing: 0.08em;
  position: relative;
  padding-bottom: 5px;
  padding-top: 5px;

  color: var(--accent-color);

  &::before {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 12px;
    background-color: var(--accent-color);
  }

  @media (min-width: 1344px) {
    & {
      padding-bottom: 10px;
      padding-top: 25px;
    }
  }
}

.program--grid__task {
  font-family: 'Montserrat', sans-serif;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;

  letter-spacing: 0.08em;

  color: var(--grey-color);
}

.program--title__list {
  @media (max-width: 768px) {
    & {
      padding-left: 120px;
      padding-top: 43px;
    }
  }

  @media (min-width: 768px) {
    & {
      padding-left: 159px;
      padding-top: 52px;
    }
  }

  @media (min-width: 1344px) {
    & {
      display: flex;
    }
  }

  &::before {
    content: '';
    display: block;
    position: absolute;

    width: 1px;
    background-color: var(--white-color);
    z-index: 1;

    @media (max-width: 768px) {
      & {
        height: 1282px;
        margin-top: 7px;
      }
    }

    @media (min-width: 768px) {
      & {
        height: 705px;
        margin-top: 7px;
      }
    }
    @media (min-width: 1344px) {
      height: 1px;
      width: 100%;
      margin: 0;
    }
  }
}

// .program--grid__semestr {
//   padding-bottom: 5px;

//   @media (min-width: 1344px) {
//     & {
//       padding-bottom: 25px;
//     }
//   }
// }
