.body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  padding: 0;
  margin: 0;

  // @media screen and (max-width: 360px) {
  //   display: inline-block;
  // }

  // &.modal-open {
  //   overflow: hidden;
  // }
}

li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  max-width: 480px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: 1680px) {
    max-width: 1680px;
    padding-left: 183px;
    padding-right: 183px;
  }
}
