:root {
  --color-text-dark: #111518;
  --color-text-light: ##ffffff;
  --color-text-grey: #b9b9b9;
  --color-text-active: #ff6b09;

  --bg-dark: #111518;
  --bg-light: ##ffffff;
  --bg-button: #ff6b09;

  --bg-backdrop: rgba(17, 21, 24, 0.9);
}
