<section class="about" id="About">
  <div class="container">
    <h2 class="about__title">Преподаватель</h2>
    <div class="about__box">
      <div class="about__thumb">
        <img
          class="about__img"
          srcset="images/about/teacher.jpg 1x, images/about/teacher2х.jpg 2x"
          src="images/about/teacher.jpg"
          alt="Преподаватель"
          width="243"
          height="305"
        />
      </div>

      <div class="about-content">
        <h3 class="about-content__title">Елена Морева</h3>

        <ul class="about-content__list">
          <li class="about-content__item">
            <div class="about-content__box">
              <svg class="about-content__icon">
                <use href="images/sprite.svg#halo"></use>
              </svg>
              <p class="about-content__text">Опыт подготовки учеников к ВНО - 6 лет</p>
            </div>
          </li>

          <li class="about-content__item">
            <div class="about-content__box">
              <svg class="about-content__icon">
                <use href="images/sprite.svg#halo"></use>
              </svg>
              <p class="about-content__text">
                Собственный результат сдачи ВНО - 197 баллов 2 года подряд
              </p>
            </div>
          </li>

          <li class="about-content__item">
            <div class="about-content__box">
              <svg class="about-content__icon">
                <use href="images/sprite.svg#halo"></use>
              </svg>
              <p class="about-content__text">
                Сдала на отлично международный аналог ВНО - Кембриджский PET (Preliminary English
                Test)
              </p>
            </div>
          </li>
        </ul>
        <div></div>

        <p class="about-content__task">
          Высшее образование получила в Институте международных отношений НАУ по специальности
          переводчик-аналитик.
        </p>

        <p class="about-content__task">
          В свободное время проходит курсы от лучших университетов мира по эффективному преподаванию
          и методикам написания сочинений.
        </p>

        <p class="about-content__task">
          В числе пройденных: English Grammar and Essay Writing (Berkeley), English Grammar&Style
          (The University of Queesland), How to Write an Essay (Berkeley), Academic and Business
          Writing (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching and
          Learning (University of Houston).
        </p>

        <p class="about-content__task about-content__task--accent">
          Cambrige English Entry Level Certificate
        </p>
      </div>
    </div>
  </div>
</section>
