<section class="advantages">
    <div class="container">
    <ul class="advantages__list">
        <li class="advantages__item">
            <div class="advantages-border">
            <svg class="advantages__icon" width="34.19" 
                height="40">
                  <use href="images/sprite.svg#group1"></use>
                </svg> 
            </div>
            <p class="advantages__text">
                Адаптированная авторская программа ВНО</p>
        </li>
        <li class="advantages__item">
            <div class="advantages-border">
            <svg class="advantages__icon" width="41.87" 
                height="41">
                  <use href="images/sprite.svg#group2"></use>
                </svg>  
            </div>
            <p class="advantages__text">
               Современные
               методики обучения</p>
        </li>
        <li class="advantages__item">
            <div class="advantages-border">
            <svg class="advantages__icon" width="35" 
                height="40">
                  <use href="images/sprite.svg#group3"></use>
                </svg>  
            </div>
            <p class="advantages__text">
               Финансовая гарантия
               результата</p>
        </li>
    </ul>
</div>
</section>

