<section class="advantages">
    <ul class="advantages__list">
        <li class="advantages__item">
            <svg class="advantages__icon" width="58,82" 
                height="60">
                  <use href="../src/images/sprite.svg#group1"></use>
                </svg> 
            <p class="advantages__text">
                
                Адаптированная авторская
               программа ВНО</p>
        </li>
        <li class="advantages__item">
            <svg class="advantages__icon" width="58,82" 
                height="60">
                  <use href="../src/images/sprite.svg#group2"></use>
                </svg>  
            <p class="advantages__text">
               
               Современные
               методики обучения</p>
        </li>
        <li class="advantages__item">
            <svg class="advantages__icon" width="58,82" 
                height="60">
                  <use href="../src/images/sprite.svg#group3"></use>
                </svg>  
            <p class="advantages__text">
               
               Финансовая гарантия
               результата</p>
        </li>
    </ul>
</section>
