<!-- <section class="benefits">
    <div class="container">
        <h2 class="benefits__title">Почему нас выбирают</h2>
        <ul class="benefits-grid">
            <li class="benefits-grid__item">
                <h3 class="benefits-grid__title">01</h3>
                <p class="benefits-grid__task">Обучение в малых командах</p>
            </li>

            <li class="benefits-grid__item">
                <h3 class="benefits-grid__title">02</h3>
                <p class="benefits-grid__task">Визуализированные конспекты</p>
            </li>

            <li class="benefits-grid__item">
                <h3 class="benefits-grid__title">03</h3>
                <p class="benefits-grid__task">Каждое занятие имеет цель и конкретный результат</p>
            </li>

            <li class="benefits-grid__item">
                <h3 class="benefits-grid__title">04</h3>
                <p class="benefits-grid__task">Ревльные результаты преподавателя</p>
            </li>

            <li class="benefits-grid__item">
                <h3 class="benefits-grid__title">05</h3>
                <p class="benefits-grid__task">Прогамма курса соответствует требованиям МОН Украины</p>
            </li>

            <li class="benefits-grid__item">
                <h3 class="benefits-grid__title">06</h3>
                <p class="benefits-grid__task">Набор команд по уровням знаний</p>
            </li>

        </ul>
    </div>
</section> -->