<section>
    <div class="container benefits">
        <h2 class="benefits-title">Почему нас выбирают</h2>
        <ul class="benefits-grid">
            <li class="benefits-grid--li">
                <h3 class="benefits-grid--number">01</h3>
                <p class="benefits-grid--task">Обучение в малых командах</p>
            </li>

            <li class="benefits-grid--li">
                <h3 class="benefits-grid--number">02</h3>
                <p class="benefits-grid--task">Визуализированные конспекты</p>
            </li>

            <li class="benefits-grid--li">
                <h3 class="benefits-grid--number">03</h3>
                <p class="benefits-grid--task">Каждое занятие имеет цель и конкретный результат</p>
            </li>

            <li class="benefits-grid--li">
                <h3 class="benefits-grid--number">04</h3>
                <p class="benefits-grid--task">Ревльные результаты преподавателя</p>
            </li>

            <li class="benefits-grid--li">
                <h3 class="benefits-grid--number">05</h3>
                <p class="benefits-grid--task">Прогамма курса соответствует требованиям МОН Украины</p>
            </li>

            <li class="benefits-grid--li">
                <h3 class="benefits-grid--number">06</h3>
                <p class="benefits-grid--task">Набор команд по уровням знаний</p>
            </li>

        </ul>
    </div>
</section>