<section class="contacts" id="contacts">
  <!-- <img 
        srcset="../images/contacts/DSC_1xmob.png 1x, ../images/contacts/DSC_2xmob.png 2x" 
        src="../images/contacts/DSC_1xmob.png" 
        alt=""
        width="480"> -->
  <div class="container">
    <p class="contacts__registration">
      Регистрация на <span class="contacts__accent">бесплатную</span> телефонную
      <span class="contacts__accent">консультацию</span> по нюансам ЗНО по английскому языку
    </p>
    <p class="contacts__request">
      Оставь заявку на участие в <span class="contacts__accent">бесплатном занятии.</span> <br />
      С вами свяжется консультант и ответит на вопросы
    </p>
    <form class="contacts__form">
      <label class="contacts__form-label">
        <input type="text" class="contacts__form-input" name="name" placeholder="Имя*" required />
        <!-- pattern="[A-Za-zА-Яа-яЁё] -->
      </label>
      <label class="contacts__form-label">
        <input
          type="tel"
          class="contacts__form-input"
          name="phone_number"
          placeholder="Телефон*"
          pattern="[\+]\d{1}\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
          minlength="10"
          maxlength="13"
        />
        <span class="contacts__form-error"
          >Это поле должно содержать телефон в формате +38 (123) 456-78-90</span
        >
      </label>
    </form>
    <button type="submit" class="contacts__btn">
      <span class="contacts__btn-text">хочу на бесплатное занятие</span>
    </button>
  </div>
</section>
