<section class="contacts" id="registration">
    <div class="container">
        <p class="registration">Регистрация на <span class="accent">бесплатную</span>  телефонную <span class="accent">консультацию</span> по нюансам ЗНО по английскому языку </p>
        <p class="request">Оставь заявку на участие в <span class="accent">бесплатном занятии.</span> С вами свяжется консультант и <br> ответит на вопросы</p>
        <form class="form">
            <label class="form-label">
                <input type="text" class="form-input" name="text" placeholder="Имя*" pattern="^[a-zA-Z]+\s[a-zA-Z]+$" title="Имя*">
            </label>
            <label class="form-label">
                <input type="tel"  class="form-input" name="phone_number" placeholder="Телефон*" pattern="2-[0-9]{3}-[0-9]{3}"
       required>
            </label>
        </form>
        <button type="submit" class="btn">
            <span class="btn-text">хочу на бесплатное занятие</span> </button>
    </div>

</section>