<footer class="footer">
  <div class="footer__box">
    <div class="container">
      <a href="">
        <img class="footer__logo" src="images/logo1.svg" alt="Логитип" />
      </a>
      <a class="footer__link" href="tel:">
        <svg class="footer__tel">
          <use href="images/sprite.svg#telephone"></use>
        </svg>
        +38 (000) 000 00 00
      </a>
      <div class="footer_line">
        <a class="footer_line-instagram" href="https://www.instagram.com/" target="_blank">
          <!-- <img class="footer__instagram" src="images/instagram.png" alt="instagram" /> -->
        </a>
      </div>
    </div>
  </div>

    <div class="footer__end">
      <div class="container">
        <p class="footer__text">@ Все права защищены, 2019</p>
      </div>
    </div>
  </div>
</footer>