<section class="guarantee">
    <div class="container">
    <h2 class="guarantee__title">Мы гарантируем</h2>
    
    
    </div>
    <div class="guarantee__list">
        <div class="container">
            <div class="guarantee__container">
                <svg class="guarantee__icon">
                    <use href="../src/images/sprite.svg#fire"></use>
                </svg>
                <p class="guarantee__item">
                    Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном тестировании. Иначе мы вернем деньги. <span class="guarantee__accent">*</span> 
                </p>
            </div>
            <div class="guarantee__container">
                <svg class="guarantee__icon">
                    <use href="../src/images/sprite.svg#fire"></use>
                </svg>
                <p class="guarantee__item">
                    Ты научишься писать сочинения минимум на 10 баллов из 14. <span class="guarantee__accent">В то время как 20% учеников получили за сочинение 0.</span> 
                </p>
            </div>
            <div class="guarantee__container">
                <svg class="guarantee__icon">
                    <use href="../src/images/sprite.svg#fire"></use>
                </svg>
                <p class="guarantee__item">
                    Ты будешь заниматься в своем районе. Мы выберем место проведения занятий после формирования команд.
                </p>
            </div>
            <div class="guarantee__container">
                <svg class="guarantee__icon">
                    <use href="../src/images/sprite.svg#fire"></use>
                </svg>
                <p class="guarantee__item">
                    Команды будут сформированы, исходя из начального уровня учеников. Мы учитываем особенности каждого ученика.
                </p>
            </div>
        
        
        </div>
    </div>
</section>