<header class="header">
    <section class="container flex">
        <a href="index.html">
            <img src="images/logo1.svg" alt="Логотип" class="logo">
        </a>
        <ul class="nav">
            <li class="nav__item"><a href="#Program" class="nav__link">Программы обучения</a></li>
            <li class="nav__item"><a href="#About" class="nav__link">О нас</a></li>
            <li class="nav__item"><a href="#How we do" class="nav__link">Варианты обучения</a></li>
            <li class="nav__item"><a href="#Contacts" class="nav__link">Контакты</a></li>
        </ul>
        <button type="button" class="header__btn">Консультация по телефону</button>
    </section>  
</header>