<section class="how-we-do">
  <div class="container">
    <h2 class="how-we-do__title">Как мы это делаем</h2>

    <!-- Блок карточек -->
    <ul class="card-set">
      <li class="card-set__item">
        <a class="card-set__link" href="">
          <div class="card-set__box">
            <svg class="card-set__svg" width="45" height="48">
              <use href="images/sprite.svg#noun_study"></use>
            </svg>
          </div>
          <h3 class="card-set__title">Адаптированная программа подготовки к ВНО</h3>
          <p class="card-set__paragraph">
            Ты будешь изучать грамматику и лексику одновременно. И ты научишься писать сочинения.
          </p>
        </a>
      </li>

      <li class="card-set__item">
        <a class="card-set__link" href="">
          <div class="card-set__box">
            <svg class="card-set__svg" width="48" height="48">
              <use href="images/sprite.svg#noun_mobile"></use>
            </svg>
          </div>
          <h3 class="card-set__title">Аудитория и онлайн-обучение</h3>
          <p class="card-set__paragraph">
            Учитель поможет не только в аудитории, но и во время домашней подготовки. Родители могут
            участвовать в чате при желании.
          </p>
        </a>
      </li>

      <li class="card-set__item">
        <a class="card-set__link" href="">
          <div class="card-set__box">
            <svg class="card-set__svg" width="68" height="48">
              <use href="images/sprite.svg#noun_book"></use>
            </svg>
          </div>
          <h3 class="card-set__title">Привычка читать на английском языке</h3>
          <p class="card-set__paragraph">
            Статьи из источников, которые используются при разработке настоящего ВНО, будут
            приходить на телефон дважды в неделю.
          </p>
        </a>
      </li>

      <li class="card-set__item">
        <a class="card-set__link" href="">
          <div class="card-set__box">
            <svg class="card-set__svg" width="48" height="48">
              <use href="images/sprite.svg#noun_hend"></use>
            </svg>
          </div>
          <h3 class="card-set__title">Психологическая поддержка</h3>
          <p class="card-set__paragraph">
            Мы научим тебя методикам прохождения тестирований, умению планировать свою подготовку
            уверенности в себе.
          </p>
        </a>
      </li>

      <li class="card-set__item">
        <a class="card-set__link" href="">
          <div class="card-set__box">
            <svg class="card-set__svg" width="40" height="48">
              <use href="images/sprite.svg#noun_student"></use>
            </svg>
          </div>
          <h3 class="card-set__title">Обучение по авторским пособиям</h3>
          <p class="card-set__paragraph">
            Тебе не нужно тратить время на самостоятельный поиск материала и ничего покупать
            дополнительно. Мы составили 2 пособия для тебя.
          </p>
        </a>
      </li>

      <li class="card-set__item">
        <a class="card-set__link" href="">
          <div class="card-set__box">
            <svg class="card-set__svg" width="54" height="48">
              <use href="images/sprite.svg#noun_audibook"></use>
            </svg>
          </div>
          <h3 class="card-set__title">Умение воспринимать устную английскуб речь</h3>
          <p class="card-set__paragraph">
            “F.R.I.E.N.D.S” тебе не помогут. Ты будешь регулярно слушать и разбирать аудиозаписи в
            соответствии с изучаемой лексикой.
          </p>
        </a>
      </li>
    </ul>
  </div>
</section>
