<section class="program">
    <div class="container ">
        <h2 class="program__title">Наша программа</h2>
        <div class="border"></div>
        <ul class="program__list">
            <li class="program-list__item">
                <div class="program-list__block">
                    <span class="program-list__circle"></span>
                    <span class="program-list__border"></span>
                </div>
                <p class="program-list__paragraph">1 семестр</p>
                <ul class="program-grid">
                    <li class="program-grid__group1">
                        <p class="program-grid__title">Grammar</p>
                        <ul>
                            <li class="program-grid__item">Nouns & Articles</li>
                            <li class="program-grid__item">Adjectives & Adverb</li>
                        </ul>
                    </li>
                    <li class="program-grid__group2">
                        <p class="program-grid__title">Vocabulary</p>
                        <ul>
                            <li class="program-grid__item">Family & Relations</li>
                            <li class="program-grid__item">People & Society</li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="program-list__item">
                <div class="program-list__block">
                    <span class="program-list__circle"></span>
                    <span class="program-list__border"></span>
                </div>
                <p class="program-list__paragraph">2 семестр</p>
                <ul class="program-grid">
                    <li class="program-grid__group1">
                        <p class="program-grid__title">Grammar</p>
                        <ul>
                            <li class="program-grid__item">Pronouns</li>
                            <li class="program-grid__item">Active Voice</li>
                            <li class="program-grid__item">Passive Voice</li>
                        </ul>
                    </li>
                    <li class="program-grid__group2">
                        <p class="program-grid__title">Vocabulary</p>
                        <ul>
                            <li class="program-grid__item">Home</li>
                            <li class="program-grid__item">School</li>
                            <li class="program-grid__item">Work</li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="program-list__item">
                <div class="program-list__block">
                    <span class="program-list__circle"></span>
                    <span class="program-list__border"></span>
                </div>
                <p class="program-list__paragraph">3 семестр</p>
                <ul class="program-grid">
                    <li class="program-grid__group1">
                        <p class="program-grid__title">Grammar</p>
                        <ul>
                            <li class="program-grid__item">Modal verbs</li>
                            <li class="program-grid__item">Infinitive</li>
                            <li class="program-grid__item">Gerund</li>
                            <li class="program-grid__item">Participle: 1, 2</li>
                        </ul>
                    </li>
                    <li class="program-grid__group2">
                        <p class="program-grid__title">Vocabulary</p>
                        <ul>
                            <li class="program-grid__item">Travel & Tourism</li>
                            <li class="program-grid__item">Culture & Free Time</li>
                            <li class="program-grid__item">Sport</li>
                        </ul>
                    </li>
                    <li>
                        <p class="program-grid__title">Writing</p>
                        <ul>
                            <li class="program-grid__item">Informal Letter</li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="program-list__item">
                <div class="program-list__block">
                    <span class="program-list__circle"></span>
                    <span class="program-list__border"></span>
                </div>
                <p class="program-list__paragraph">4 семестр</p>
                <ul class="program-grid">
                    <li class="program-grid__group1">
                        <p class="program-grid__title">Grammar</p>
                        <ul>
                            <li class="program-grid__item">Clauses: Conditional and Wishes</li>
                            <li class="program-grid__item">Direct / Reported speech</li>
                            <li class="program-grid__item">Preposition</li>
                            <li class="program-grid__item">Conjunction</li>
                            <li class="program-grid__item">Numeral</li>
                        </ul>
                    </li>
                    <li class="program-grid__group2">
                        <p class="program-grid__title">Vocabulary</p>
                        <ul>
                            <li class="program-grid__item">Healthy Living</li>
                            <li class="program-grid__item">Nature & Environment</li>
                            <li class="program-grid__item">Money</li>
                        </ul>
                    </li>
                    <li>
                        <p class="program-grid__title">Writing</p>
                        <ul>
                            <li class="program-grid__item">Formal Letter</li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="program-list__item">
                <div class="program-list__block">
                    <span class="program-list__circle"></span>
                    <span class="program-list__border"></span>
                </div>
                <p class="program-list__paragraph">5 семестр</p>
                <ul class="program-grid">
                    <li>
                        <p class="program-grid__title program-grid__hidden ">Revision Tests</p>
                        <ul>
                            <li class="program-grid__item">Revision Tests</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="container benefits">
            <h2 class="benefits__title">Почему нас выбирают</h2>
            <ul class="benefits-grid">
                <li class="benefits-grid__item">
                    <h3 class="benefits-grid__title">01</h3>
                    <p class="benefits-grid__task">Обучение в малых командах</p>
                </li>

                <li class="benefits-grid__item">
                    <h3 class="benefits-grid__title">02</h3>
                    <p class="benefits-grid__task">Визуализированные конспекты</p>
                </li>

                <li class="benefits-grid__item">
                    <h3 class="benefits-grid__title">03</h3>
                    <p class="benefits-grid__task">Каждое занятие имеет цель и конкретный результат</p>
                </li>

                <li class="benefits-grid__item">
                    <h3 class="benefits-grid__title">04</h3>
                    <p class="benefits-grid__task">Ревльные результаты преподавателя</p>
                </li>

                <li class="benefits-grid__item">
                    <h3 class="benefits-grid__title">05</h3>
                    <p class="benefits-grid__task">Прогамма курса соответствует требованиям МОН Украины</p>
                </li>

                <li class="benefits-grid__item">
                    <h3 class="benefits-grid__title">06</h3>
                    <p class="benefits-grid__task">Набор команд по уровням знаний</p>
                </li>

            </ul>
        </div>
    </div>
</section>