<section class="program" id="Program">
  <h2 class="program__title">Наша программа</h2>

  <div class="container">
    <div class="program__box">
      <span class="program__border"></span>
      <ul class="program-list">
        <li class="program-list__item">
          <h3 class="program-list__title">
            <span class="program-list__title--large">1</span>&nbsp;cеместр
          </h3>

          <ul class="program-grid__box">
            <li class="program-grid program-grid__group1">
              <p class="program-grid__title">Grammar</p>
              <p class="program-grid__text">Nouns & Articles</p>
              <p class="program-grid__text">Adjectives & Adverb</p>
            </li>

            <li class="program-grid program-grid__group2">
              <p class="program-grid__title program-grid__title--margin">Vocabulary</p>

              <p class="program-grid__text">Family & Relations</p>
              <p class="program-grid__text">People & Society</p>
            </li>
          </ul>
        </li>

        <li class="program-list__item">
          <h3 class="program-list__title">
            <span class="program-list__title--large">2</span>&nbsp;семестр
          </h3>

          <ul class="program-grid__box">
            <li class="program-grid program-grid__group1">
              <p class="program-grid__title">Grammar</p>

              <p class="program-grid__text">Pronouns</p>
              <p class="program-grid__text">Active Voice</p>
              <p class="program-grid__text">Passive Voice</p>
            </li>

            <li class="program-grid program-grid__group2">
              <p class="program-grid__title program-grid__title--margin">Vocabulary</p>

              <p class="program-grid__text">Home</p>
              <p class="program-grid__text">School</p>
              <p class="program-grid__text">Work</p>
            </li>
          </ul>
        </li>

        <li class="program-list__item">
          <h3 class="program-list__title">
            <span class="program-list__title--large">3</span>&nbsp;семестр
          </h3>

          <ul class="program-grid__box">
            <li class="program-grid program-grid__group1">
              <p class="program-grid__title">Grammar</p>

              <p class="program-grid__text">Modal verbs</p>
              <p class="program-grid__text">Infinitive</p>
              <p class="program-grid__text">Gerund</p>
              <p class="program-grid__text">Participle: 1, 2</p>
            </li>

            <li class="program-grid program-grid__group2">
              <p class="program-grid__title program-grid__title--margin">Vocabulary</p>

              <p class="program-grid__text">Travel & Tourism</p>
              <p class="program-grid__text">Culture & Free Time</p>
              <p class="program-grid__text">Sport</p>
            </li>

            <li class="program-grid program-grid__group3">
              <p class="program-grid__title program-grid__title--margin">Writing</p>
              <p class="program-grid__text">Informal Letter</p>
            </li>
          </ul>
        </li>

        <li class="program-list__item">
          <h3 class="program-list__title">
            <span class="program-list__title--large">4</span>&nbsp;семестр
          </h3>

          <ul class="program-grid__box">
            <li class="program-grid program-grid__group1">
              <p class="program-grid__title">Grammar</p>

              <p class="program-grid__text">Clauses: Conditional and Wishes</p>
              <p class="program-grid__text">Direct / Reported speech</p>
              <p class="program-grid__text">Preposition</p>
              <p class="program-grid__text">Conjunction</p>
              <p class="program-grid__text">Numeral</p>
            </li>

            <li class="program-grid program-grid__group2">
              <p class="program-grid__title program-grid__title--margin">Vocabulary</p>

              <p class="program-grid__text">Healthy Living</p>
              <p class="program-grid__text">Nature & Environment</p>
              <p class="program-grid__text">Money</p>
            </li>

            <li class="program-grid program-grid__group3">
              <p class="program-grid__title program-grid__title--margin">Writing</p>
              <p class="program-grid__text">Formal Letter</p>
            </li>
          </ul>
        </li>

        <li class="program-list__item">
          <h3 class="program-list__title">
            <span class="program-list__title--large">5</span>&nbsp;семестр
          </h3>

          <ul class="program-grid program-grid__group1">
            <li><p class="program-grid__title program-grid__title--margin">&nbsp;</p></li>
            <li><p class="program-grid__text">Revision</p></li>
            <li><p class="program-grid__text">Tests</p></li>
          </ul>
        </li>

        <div class="program-list__boximg">
          <img srcset="images/program/program.png 1x, images/program/program2x.png 2x" src="images/program/program.png" alt="" />
          <!-- <div class="program-list__img"></div> -->
        </div>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="benefits">
      <h2 class="benefits__title">Почему нас выбирают</h2>
      <div class="benefits-grid__container">
        <ul class="benefits-grid">
          <li class="benefits-grid__item">
            <h3 class="benefits-grid__number">01</h3>
            <p class="benefits-grid__task">Обучение в малых командах</p>
          </li>

          <li class="benefits-grid__item">
            <h3 class="benefits-grid__number">02</h3>
            <p class="benefits-grid__task">Визуализированные конспекты</p>
          </li>

          <li class="benefits-grid__item">
            <h3 class="benefits-grid__number">03</h3>
            <p class="benefits-grid__task">Каждое занятие имеет цель и конкретный результат</p>
          </li>

          <li class="benefits-grid__item">
            <h3 class="benefits-grid__number">04</h3>
            <p class="benefits-grid__task">Ревльные результаты преподавателя</p>
          </li>

          <li class="benefits-grid__item">
            <h3 class="benefits-grid__number">05</h3>
            <p class="benefits-grid__task">Прогамма курса соответствует требованиям МОН Украины</p>
          </li>

          <li class="benefits-grid__item">
            <h3 class="benefits-grid__number">06</h3>
            <p class="benefits-grid__task">Набор команд по уровням знаний</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
