<section>
    <div class="container program">
        <h2 class="program--title">Наша программа</h2>
        <ul class="program--title__list">
            <li class="program--grid">
                <p class="program--grid__semestr">1 семестр</p>
                <ul class="program--grid__flex">
                    <li>
                        <p class="program--grid__title">Grammar</p>
                        <ul>
                            <li class="program--grid__task">Nouns & Articles</li>
                            <li class="program--grid__task">Adjectives & Adverb</li>
                        </ul>
                    </li>
                    <li>
                        <p class="program--grid__title">Vocabulary</p>
                        <ul>
                            <li class="program--grid__task">Family & Relations</li>
                            <li class="program--grid__task">People & Society</li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="program--grid">
                <p class="program--grid__semestr">2 семестр</p>
                <ul class="program--grid__flex">
                    <li>
                        <p class="program--grid__title">Grammar</p>
                        <ul>
                            <li class="program--grid__task">Pronouns</li>
                            <li class="program--grid__task">Active Voice</li>
                            <li class="program--grid__task">Passive Voice</li>
                        </ul>
                    </li>
                    <li>
                        <p class="program--grid__title">Vocabulary</p>
                        <ul>
                            <li class="program--grid__task">Home</li>
                            <li class="program--grid__task">School</li>
                            <li class="program--grid__task">Work</li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="program--grid">
                <p class="program--grid__semestr">3 семестр</p>
                <ul class="program--grid__flex">
                    <li>
                        <p class="program--grid__title">Grammar</p>
                        <ul>
                            <li class="program--grid__task">Modal verbs</li>
                            <li class="program--grid__task">Infinitive</li>
                            <li class="program--grid__task">Gerund</li>
                            <li class="program--grid__task">Participle: 1, 2</li>
                        </ul>
                    </li>
                    <li>
                        <p class="program--grid__title">Vocabulary</p>
                        <ul>
                            <li class="program--grid__task">Travel & Tourism</li>
                            <li class="program--grid__task">Culture & Free Time</li>
                            <li class="program--grid__task">Sport</li>
                        </ul>
                    </li>
                    <li>
                        <p class="program--grid__title">Writing</p>
                        <ul>
                            <li class="program--grid__task">Informal Letter</li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="program--grid">
                <p class="program--grid__semestr">4 семестр</p>
                <ul class="program--grid__flex">
                    <li>
                        <p class="program--grid__title">Grammar</p>
                        <ul>
                            <li class="program--grid__task">Clauses: Conditional and Wishes</li>
                            <li class="program--grid__task">Direct / Reported speech</li>
                            <li class="program--grid__task">Preposition</li>
                            <li class="program--grid__task">Conjunction</li>
                            <li class="program--grid__task">Numeral</li>
                        </ul>
                    </li>
                    <li>
                        <p class="program--grid__title">Vocabulary</p>
                        <ul>
                            <li class="program--grid__task">Healthy Living</li>
                            <li class="program--grid__task">Nature & Environment</li>
                            <li class="program--grid__task">Money</li>
                        </ul>
                    </li>
                    <li>
                        <p class="program--grid__title">Writing</p>
                        <ul>
                            <li class="program--grid__task">Formal Letter</li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="program--grid">
                <p class="program--grid__semestr">5 семестр</p>
                <ul class="program--grid__flex">
                    <li>
                        <p class="program--grid__title"></p>
                        <ul>
                            <li class="program--grid__task">Revision Tests</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>