<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">Отзывы выпускников</h2>
    <div class="reviews__thumb">
      <div class="reviews__photobox">
        <img class="reviews__photo" src="images/reviews/Ellipse8.jpg" alt="Фото1" />
        <a href="https://vk.com/" target="_blank">
          <svg class="reviews__icon">
            <use href="images/sprite.svg#vk-1"></use>
          </svg>
        </a>
      </div>
      <div class="reviews__box">
        <h3 class="reviews__graduate">Тоня Кучеровская</h3>
        <p class="reviews__stud">
          Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
        </p>
        <article class="reviews__text">
          <h3 class="visually-hidden">Отзыв студента</h3>
          За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
          словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
          Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
          авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
          можу похизуватись тим, що я студен ... <a class="reviews__all" href="">Читать дальше</a>
        </article>
      </div>
    </div>
    <ul class="reviews__list">
      <li class="reviews__student">
        <a href=""
          ><img class="reviews__photosmall" src="images/reviews/Ellipse9.jpg" alt="Фото студента"
        /></a>
      </li>
      <li class="reviews__student">
        <a href=""
          ><img class="reviews__photosmall" src="images/reviews/Ellipse10.jpg" alt="Фото студента"
        /></a>
      </li>
      <li class="reviews__student">
        <a href=""
          ><img class="reviews__photosmall" src="images/reviews/Ellipse11.jpg" alt="Фото студента"
        /></a>
      </li>
      <li class="reviews__student">
        <a href=""
          ><img class="reviews__photosmall" src="images/reviews/Ellipse12.jpg" alt="Фото студента"
        /></a>
      </li>
      <li class="reviews__student">
        <a href=""
          ><img class="reviews__photosmall" src="images/reviews/Ellipse13.jpg" alt="Фото студента"
        /></a>
      </li>
      <li class="reviews__student">
        <a href=""
          ><img class="reviews__photosmall" src="images/reviews/Ellipse8.jpg" alt="Фото студента"
        /></a>
      </li>
      <li class="reviews__student">
        <a href=""
          ><img class="reviews__photosmall" src="images/reviews/Ellipse15.jpg" alt="Фото студента"
        /></a>
      </li>
    </ul>
  </div>
</section>
