<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">Отзывы выпускников</h2>
    <div>
      <img src="./images/reviews/Ellipse 8.jpg" alt="Фото1" />
      <svg>
        <use href="./images/sprite.svg#vk-1"></use>
      </svg>
      <h3>Тоня Кучеровская</h3>
      <p>Выпуск 2015-го года, Національний університет біоресурсів і природокористування України</p>
      <article>
        За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
        словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
        Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
        авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
        можу похизуватись тим, що я студен ... Читать дальше
      </article>
    </div>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</section>
