<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">Отзывы выпускников</h2>
    <div class="slider">
      <div>
        <div class="reviews__thumb">
          <div class="reviews__photobox">
            <img class="reviews__photo" src="./images/reviews/Ellipse9.jpg" alt="Фото1" />
            <a href="">
              <svg class="reviews__icon">
                <use href="./images/sprite.svg#vk-1"></use>
              </svg>
            </a>
          </div>
          <div class="reviews__box">
            <h3 class="reviews__graduate">Тоня Кучеровская</h3>
            <p class="reviews__stud">
              Выпуск 2015-го года, Національний університет біоресурсів і природокористування
              України
            </p>
            <article class="reviews__text">
              За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
              словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми
              з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для
              мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку.
              Зараз я можу похизуватись тим, що я студен
              <span id="dots">...</span>
              <button id="btn" onclick="readMore()">Читать дальше</button>
              <!-- <a class="reviews__all" id="btn" href="" onclick="raedMore()">Читать дальше</a> -->
              <span id="more"
                >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum quaerat iste
                reprehenderit tempora libero repellat consequatur ipsa laborum fugit assumenda dicta
                nisi dignissimos a, autem laboriosam incidunt quisquam. Adipisci,
                voluptatibus?</span
              >
            </article>
          </div>
        </div>
      </div>

      <div>
        <div class="reviews__thumb">
          <div class="reviews__photobox">
            <img class="reviews__photo" src="./images/reviews/Ellipse10.jpg" alt="Фото1" />
            <a href="">
              <svg class="reviews__icon">
                <use href="./images/sprite.svg#vk-1"></use>
              </svg>
            </a>
          </div>
          <div class="reviews__box">
            <h3 class="reviews__graduate">Тоня Кучеровская</h3>
            <p class="reviews__stud">
              Выпуск 2015-го года, Національний університет біоресурсів і природокористування
              України
            </p>
            <article class="reviews__text">
              За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
              словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми
              з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для
              мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку.
              Зараз я можу похизуватись тим, що я студен ...
              <a class="reviews__all" href="">Читать дальше</a>
            </article>
          </div>
        </div>
      </div>

      <div>
        <div class="reviews__thumb">
          <div class="reviews__photobox">
            <img class="reviews__photo" src="./images/reviews/Ellipse11.jpg" alt="Фото1" />
            <a href="">
              <svg class="reviews__icon">
                <use href="./images/sprite.svg#vk-1"></use>
              </svg>
            </a>
          </div>
          <div class="reviews__box">
            <h3 class="reviews__graduate">Тоня Кучеровская</h3>
            <p class="reviews__stud">
              Выпуск 2015-го года, Національний університет біоресурсів і природокористування
              України
            </p>
            <article class="reviews__text">
              За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
              словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми
              з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для
              мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку.
              Зараз я можу похизуватись тим, що я студен ...
              <a class="reviews__all" href="">Читать дальше</a>
            </article>
          </div>
        </div>
      </div>

      <div>
        <div class="reviews__thumb">
          <div class="reviews__photobox">
            <img class="reviews__photo" src="./images/reviews/Ellipse12.jpg" alt="Фото1" />
            <a href="">
              <svg class="reviews__icon">
                <use href="./images/sprite.svg#vk-1"></use>
              </svg>
            </a>
          </div>
          <div class="reviews__box">
            <h3 class="reviews__graduate">Тоня Кучеровская</h3>
            <p class="reviews__stud">
              Выпуск 2015-го года, Національний університет біоресурсів і природокористування
              України
            </p>
            <article class="reviews__text">
              За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
              словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми
              з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для
              мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку.
              Зараз я можу похизуватись тим, що я студен ...
              <a class="reviews__all" href="">Читать дальше</a>
            </article>
          </div>
        </div>
      </div>

      <div>
        <div class="reviews__thumb">
          <div class="reviews__photobox">
            <img class="reviews__photo" src="./images/reviews/Ellipse13.jpg" alt="Фото1" />
            <a href="">
              <svg class="reviews__icon">
                <use href="./images/sprite.svg#vk-1"></use>
              </svg>
            </a>
          </div>
          <div class="reviews__box">
            <h3 class="reviews__graduate">Тоня Кучеровская</h3>
            <p class="reviews__stud">
              Выпуск 2015-го года, Національний університет біоресурсів і природокористування
              України
            </p>
            <article class="reviews__text">
              За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
              словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми
              з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для
              мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку.
              Зараз я можу похизуватись тим, що я студен ...
              <a class="reviews__all" href="">Читать дальше</a>
            </article>
          </div>
        </div>
      </div>

      <div>
        <div class="reviews__thumb">
          <div class="reviews__photobox">
            <img class="reviews__photo" src="./images/reviews/Ellipse8.jpg" alt="Фото1" />
            <a href="">
              <svg class="reviews__icon">
                <use href="./images/sprite.svg#vk-1"></use>
              </svg>
            </a>
          </div>
          <div class="reviews__box">
            <h3 class="reviews__graduate">Тоня Кучеровская</h3>
            <p class="reviews__stud">
              Выпуск 2015-го года, Національний університет біоресурсів і природокористування
              України
            </p>
            <article class="reviews__text">
              За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
              словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми
              з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для
              мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку.
              Зараз я можу похизуватись тим, що я студен ...
              <a class="reviews__all" href="">Читать дальше</a>
            </article>
          </div>
        </div>
      </div>

      <div>
        <div class="reviews__thumb">
          <div class="reviews__photobox">
            <img class="reviews__photo" src="./images/reviews/Ellipse15.jpg" alt="Фото1" />
            <a href="">
              <svg class="reviews__icon">
                <use href="./images/sprite.svg#vk-1"></use>
              </svg>
            </a>
          </div>
          <div class="reviews__box">
            <h3 class="reviews__graduate">Тоня Кучеровская</h3>
            <p class="reviews__stud">
              Выпуск 2015-го года, Національний університет біоресурсів і природокористування
              України
            </p>
            <article class="reviews__text">
              За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
              словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми
              з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для
              мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку.
              Зараз я можу похизуватись тим, що я студен ...
              <a class="reviews__all" href="">Читать дальше</a>
            </article>
          </div>
        </div>
      </div>
    </div>

    <ul class="reviews__list">
      <li class="reviews__student">
        <img src="./images/reviews/Ellipse9.jpg" alt="Фото студента" />
      </li>
      <li class="reviews__student">
        <img src="./images/reviews/Ellipse10.jpg" alt="Фото студента" />
      </li>
      <li class="reviews__student">
        <img src="./images/reviews/Ellipse11.jpg" alt="Фото студента" />
      </li>
      <li class="reviews__student">
        <img src="./images/reviews/Ellipse12.jpg" alt="Фото студента" />
      </li>
      <li class="reviews__student">
        <img src="./images/reviews/Ellipse13.jpg" alt="Фото студента" />
      </li>
      <li class="reviews__student">
        <img src="./images/reviews/Ellipse8.jpg" alt="Фото студента" />
      </li>
      <li class="reviews__student">
        <img src="./images/reviews/Ellipse15.jpg" alt="Фото студента" />
      </li>
    </ul>

    <ul class="slidersmall">
      <li class="reviews__student">
        <img src="./images/reviews/Ellipse9.jpg" alt="Фото студента" />
      </li>
      <li class="reviews__student">
        <img src="./images/reviews/Ellipse10.jpg" alt="Фото студента" />
      </li>
      <li class="reviews__student">
        <img src="./images/reviews/Ellipse11.jpg" alt="Фото студента" />
      </li>
      <li class="reviews__student">
        <img src="./images/reviews/Ellipse12.jpg" alt="Фото студента" />
      </li>
      <li class="reviews__student">
        <img src="./images/reviews/Ellipse13.jpg" alt="Фото студента" />
      </li>
      <li class="reviews__student">
        <img src="./images/reviews/Ellipse8.jpg" alt="Фото студента" />
      </li>
      <li class="reviews__student">
        <img src="./images/reviews/Ellipse15.jpg" alt="Фото студента" />
      </li>
    </ul>
  </div>

  <!-- <div class="wrapper">
    <label for="button">...Read more</label>
    <input type="checkbox" id="button" />
    <div class="xpandable-block">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam velit esse accusamus eos,
        laudantium nihil quas eaque tempore a. Molestiae impedit aliquam repellat officiis dolorem
        sint, dignissimos soluta reprehenderit porro?
      </p>
    </div>
  </div> -->

  <!-- <div class="textbox" id="mytext">
    Тут находится большой текст, который мы должны показать при нажатии на ссылку Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Quasi nisi illum veniam? Unde exercitationem nostrum
    iusto fugiat, rerum neque quisquam, molestiae saepe, aliquid sunt qui et veniam non adipisci
    impedit.
  </div>
  <div>
    <a href="#" onclick="document.getElementById('mytext').classList.add('opened'); return false;"
      >Посмотреть весь текст</a
    >
  </div> -->

  <!-- <a href="javascript:Spoiler();" class="link_spoiler" id="linkSpoiler">Подробнее</a>

  <div id="contentSpoiler" style="display: none">
    <p>
      Однако политические учения Гоббса иллюстрирует современный англо-американский тип политической
      культуры. Капиталистическое мировое общество случайно. Политическое учение Августина
      доказывает коллапс Советского Союза. Социализм символизирует либерализм, указывает в своем
      исследовании К.Поппер. Идея правового государства, как бы это ни казалось парадоксальным,
      традиционно вызывает антропологический коллапс Советского Союза, что неминуемо повлечет
      эскалацию напряжения в стране. Международная политика иллюстрирует гносеологический
      либерализм.
    </p>
  </div> -->

  <!-- <script>
    function Spoiler() {
      var ele = document.getElementById('contentSpoiler');
      var text = document.getElementById('linkSpoiler');
      if (ele.style.display == 'block') {
        ele.style.display = 'none';
        text.innerHTML = 'Подробнее';
      } else {
        ele.style.display = 'block';
        text.innerHTML = 'Скрыть';
      }
    }
  </script> -->
</section>
